<h2>Menu</h2>

<div class="menu-grid">
  <div class="card">
    <img
      src="{{ url_for('static', filename='images/coffee_tokyo_drip.jpg') }}"
    />

    <h3>Tokyo Style Drip</h3>

    <p>S ₱170</p>
    <p>M ₱200</p>
    <p>L ₱230</p>

    <button>Add</button>
  </div>

  <div class="card">
    <img src="{{ url_for('static', filename='images/espresso.jpg') }}" />

    <h3>Espresso</h3>

    <p>S ₱180</p>
    <p>M ₱210</p>
    <p>L ₱240</p>

    <button>Add</button>
  </div>

  <div class="card">
    <img src="{{ url_for('static', filename='images/cafe_latte.jpg') }}" />

    <h3>Café Latte</h3>

    <p>S ₱220</p>
    <p>M ₱250</p>
    <p>L ₱280</p>

    <button>Add</button>
  </div>
</div>
